<div class="card-header">
  <h3 class="card-title">Activity Feed</h3>
</div>
<div class="animate-fade-in">
  <% feed.forEach(function(item) { %>
    <div class="activity-item">
      <span class="activity-dot <%= item.type %>"></span>
      <span class="activity-text"><%= item.text %></span>
      <span class="activity-time"><%= item.time %></span>
    </div>
  <% }); %>
</div>
